@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Date range picker*/
.custom-date-range-picker .rdrMonthAndYearWrapper {
    padding-top: 0;
}
.custom-date-range-picker .rdrMonthAndYearPickers select {
    color: #333; /* Màu sắc cho chữ */
    background-color: white;
}

.custom-date-range-picker .rdrMonthName {
    font-size: 16px;
    color: #27b5fc; /* Màu cam cho tên tháng */
    font-weight: bold;
    padding: 0 4px;
}

.custom-date-range-picker .rdrWeekDay {
    color: #666; 
    font-weight: 600;
}

.custom-date-range-picker .rdrDayNumber span {
    color: #333; 
    font-size: 14px;
}

.custom-date-range-picker .rdrDayNumber span:hover {
    color: #27b5fc; 
}


/* Slider */
.custom-slider {
    height: 4px;
    background-color: #27b5fc; 
}

.custom-slider .track {
    background: #27b5fc; 
    height: 4px;
    border-radius: 4px;
}

.custom-slider .thumb {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid #27b5fc;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
    outline: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .carousel-item {
        padding: 8px 8px;
        transition: transform 0.2s;
    }

    .carousel-item:hover {
        transform: translateY(-6px);
    }

    .bg-hero-tour {
        background-image: url("/img/tour/hero_background.jpg");
    }

    .translate-y {
        transition: transform;
        transition-duration: 0.2s;
    }

    .translate-y:hover {
        transform: translateY(-6px);
    }

    .dot {
        @apply inline-block w-2 h-2 rounded-full bg-black flex-shrink-0
    }
}

@layer base {
    body {
        box-sizing: border-box;
        font-size: 14px;
    }
}


.filter-sidebar {
    background-color: #e0f7fa; 
    border: 1px solid #007bff; 
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



.price-range {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.price-range input {
    margin-right: 10px;
}

.submit-button {
    background-color: #007bff; 
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3; 
}

.hotel-image-gallery {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
}

.main-image {
    width: 100%;
    max-height: 415px;
    overflow: hidden;
    border-radius: 10px;
}

.thumbnail-images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    top: 20px;
}

.thumbnail-large {
    grid-column: span 2;
    grid-row: span 2;
    width: 100%;
    height: 372px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.thumbnail-small {
    width: 100%;
    height: 181px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
}

.navList {
    list-style: none;
    display: flex;
    gap: 20px;
}

.navList li {
    font-weight: 500;
}

.backToTop {
    background-color: #0070f3;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.fixed-nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; 
}

/* date picker */
.ant-picker-dropdown .ant-picker-header-view >button:hover {
    color: #27b5fc;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: white;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
    background-color: #27b5fc;
    /* color: aqua; */
}

.ant-picker-dropdown .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
    background-color: #27b5fc23;
    /* color: aqua; */
}

/* .ant-picker-dropdown .ant-picker-header >button:hover {
    color: #27b5fc;
} */

