@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .carousel-item {
        padding: 8px 8px;
        transition: transform 0.2s;
    }

    .carousel-item:hover {
        transform: translateY(-6px);
    }

    .bg-hero-tour {
        background-image: url("/img/tour/hero_background.jpg");
    }

    .translate-y {
        transition: transform;
        transition-duration: 0.2s;
    }

    .translate-y:hover {
        transform: translateY(-6px);
    }

}

@layer base {
    body {
        box-sizing: border-box;
        font-size: 14px;
    }
}
