@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
} */

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/* Date range picker*/
.custom-date-range-picker .rdrMonthAndYearWrapper {
    padding-top: 0;
}
.custom-date-range-picker .rdrMonthAndYearPickers select {
    color: #333; /* Màu sắc cho chữ */
    background-color: white;
}

.custom-date-range-picker .rdrMonthName {
    font-size: 16px;
    color: #27b5fc; /* Màu cam cho tên tháng */
    font-weight: bold;
    padding: 0 4px;
}

.custom-date-range-picker .rdrWeekDay {
    color: #666; 
    font-weight: 600;
}

.custom-date-range-picker .rdrDayNumber span {
    color: #333; 
    font-size: 14px;
}

.custom-date-range-picker .rdrDayNumber span:hover {
    color: #27b5fc; 
}


/* Slider */
.custom-slider {
    height: 4px;
    background-color: #27b5fc; 
}

.custom-slider .track {
    background: #27b5fc; 
    height: 4px;
    border-radius: 4px;
}

.custom-slider .thumb {
    height: 20px;
    width: 20px;
    background-color: white;
    border: 2px solid #27b5fc;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -8px;
    outline: none;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .carousel-item {
        padding: 8px 8px;
        transition: transform 0.2s;
    }

    .carousel-item:hover {
        transform: translateY(-6px);
    }

    .bg-hero-tour {
        background-image: url("/img/tour/hero_background.jpg");
    }

    .translate-y {
        transition: transform;
        transition-duration: 0.2s;
    }

    .translate-y:hover {
        transform: translateY(-6px);
    }
}

@layer base {
    body {
        box-sizing: border-box;
        font-size: 14px;
    }
}

/* date picker */
.ant-picker-dropdown .ant-picker-header-view >button:hover {
    color: #27b5fc;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-today .ant-picker-cell-inner::before {
    border-color: white;
}

.ant-picker-dropdown .ant-picker-cell-in-view.ant-picker-cell-selected:not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
    background-color: #27b5fc;
    /* color: aqua; */
}

.ant-picker-dropdown .ant-picker-cell:hover:not(.ant-picker-cell-selected):not(.ant-picker-cell-range-start):not(.ant-picker-cell-range-end):not(.ant-picker-cell-disabled) .ant-picker-cell-inner {
    background-color: #27b5fc23;
    /* color: aqua; */
}

/* .ant-picker-dropdown .ant-picker-header >button:hover {
    color: #27b5fc;
} */